@font-face {
  font-family: 'Racing-sans';
  src: url(./assets/fonts/RacingSansOne-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@property --border-width {
  syntax: "<length>";
  inherits: true;
  initial-value: 0.1rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

:root{
  --bg-color: rgb(0, 2, 26);
  --font-color: #cccffd;
}




html {
  scrollbar-gutter: stable;
}
body{
  background: var(--bg-color);
  color: var(--font-color);
  font-family: "Poppins",Arial, Helvetica, sans-serif;
  user-select: none;
}


#app{
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  margin: 0 auto;
  justify-content: center;
}

h1{
  margin: 0;
  font-size: clamp(2rem,6vw,5rem); 
  font-family: 'Racing-sans', sans-serif;
}

button{
  font-family: inherit;
  background: var(--bg-color);
  border-color: var(--font-color);
  color: var(--font-color);
  border-style: solid;
  border-radius: 4rem;
  margin-top: 0.1rem;
  border-width: var(--border-width);
  transition: all 0.1s ease;
  font-size: 1.7rem;
}

button:hover{
  outline: 4px solid var(--font-color); 
  outline-offset: -1px;
  transition: all 0.1s ease;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: clamp(1rem,5vh,4rem);
}

option:disabled{
  color: color-mix(in lab, var(--font-color) 60%, rgb(0, 0, 0) 30%);
  font-style: italic;
}


.top-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-grid{
  width:  70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 6rem 0.1rem 10rem 3rem);
  justify-content: center;
  column-gap: 0;
  row-gap: 0.5rem;
  margin-left: 10%;
}

  
.badge{
  border-style: dashed;
  border-radius: 4rem;
  border-width: var(--border-width);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
}




.inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.input{

  font-family: inherit;
  background: var(--bg-color);
  border-color: var(--font-color);
  color: var(--font-color);
  border-radius: 1rem;
  border-width: var(--border-width);
  border-style: solid;
  text-indent: 8px;
  text-justify: center;
}


.input:focus{
outline: 0.2rem solid var(--font-color); 
  outline-offset: -1px;

}

.input::placeholder {
  color: var(--font-color);
  opacity: 0.5;
}

.input-wrapper{
  display: flex;
}

.input-wrapper > input{
  justify-self: start;
  width: 2rem;
}

.units{
  position: relative;
  left: 0.2rem;
  padding-top: 1px;
}

h3, h2{
  margin-bottom: 0;
}

ul{
  list-style-type: disc;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  
  
}
li{
  margin-left: 1rem;
}

.delete-meal{
  border: none;
  opacity: 0.5;
}

.delete-meal:hover{
  outline: none;
  opacity: 1;
}



#meal-calories{
  width: 2.5rem;
}

#calorie-counter{
  text-align: center;
}









